@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    /* font-family */
    --inter: 'Inter', sans-serif;
    --lexend: 'Lexend Deca', sans-serif;
    --font-size-parag: 15px;

    /* primary-colors */
    --dark-blue: hsl(233, 47%, 7%);
    --desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --slightly-transparent-white:  hsla(0, 0%, 100%, 0.75);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* THHE LAYOUT */
body{
    font-family:var(--font-primary);   
    display:flex;
    justify-content: center;
    align-items: center; 
    background-color:var(--dark-blue);
    height:100vh;  
}

.container{
    display:flex;   
    position: relative;    
    margin: 0 auto;  
    align-items: center; 
}
.card{
    background-color: var(--desaturated-blue);
    border-radius: 5px;
    margin: auto 175px;
    height: 446px;
    position: relative; 
    display: flex; 
    flex-direction: row-reverse; 
}
/* STYLING THE CARD */
.image {
    min-width:540px;
    max-width: 540px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url("images/image-header-desktop.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-120deg) saturate(600%) contrast(0.8);
    opacity: 0.8;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:90px;
    margin-right:90px;
}
.content h1 {
    color:white;
    margin-top: 75px;
    font-family: var(--inter);
    
}
.insights {
    color: var(--soft-violet);
}
.content p {
    color: var(--slightly-transparent-white);
    margin-top: 25px;
    font-size: var(--font-size-parag);
    font-family: var(--inter);
    line-height: 26px;
}
.numbers {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 65px;
    text-transform: uppercase;
  
}
.number-name {
    display: flex;
    flex-direction: column;
    padding-right: 45px;
    font-family: var(--inter);
    color: hsla(0, 0%, 100%, 0.6);
}
.number {
    color:white;
}


